{% extends 'dashboard_base.html' %} {% load static %} {% block content %} 
<div> 
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">

					<h3>WIFI (en0)</h3>
					<div id="reportsChart1"></div>
				</div>
			</div>
		</div>

</div> 

<script>
	document.addEventListener("DOMContentLoaded", () => {
		new ApexCharts(document.querySelector("#reportsChart1"), {
				series: [
						{
								name: "Download Data",
								data: [10, 20, 30, 25, 15, 22, 35],
						},
						{
								name: "Upload Data",
								data: [5, 12, 18, 15, 10, 14, 20],
						},
				],
				chart: {
						height: 350,
						type: "area",
						toolbar: {
								show: false,
						},
				},
				markers: {
						size: 4,
				},
				colors: ["#4154f1", "#2eca6a"],
				fill: {
						type: "gradient",
						gradient: {
								shadeIntensity: 1,
								opacityFrom: 0.3,
								opacityTo: 0.4,
								stops: [0, 90, 100],
						},
				},
				dataLabels: {
						enabled: false,
				},
				stroke: {
						curve: "smooth",
						width: 2,
				},
				xaxis: {
						type: "datetime",
						categories: ["2024-05-10", "2024-05-11", "2024-05-12", "2024-05-13", "2024-05-14", "2024-05-15", "2024-05-16"],
				},
				tooltip: {
						x: {
								format: "dd/MM/yy HH:mm",
						},
				},
		}).render();
});
</script>

{% endblock %}
