{% extends 'base.html' %}
{% block content %}
{% if error_message %}
<p>{{ error_message }}</p>
{% else %}
<div class="container mt-4">
    <div class="">
        <h1>CPU Stats</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="">CPU Stats</a></li>
            </ol>
        </nav>
    </div>

    <div class="">
        <div class="card">
            <div class="card-body mt-4">
                <h5>Timestamp: {{ timestamp }}</h5>
                <h5>Threads: {{ threads }}</h5>
                <h5>CPU Count: {{ cpu_count }}</h5>
                <h5>CPU Percent: {{ cpu_percent }}</h5>
                <h5>CPU Frequency: {{ cpu_freq_value }}</h5>
                <h5>Percent Per CPU: {{ percent_per_cpu }}</h5>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h3>CPU Percent</h3>
            <canvas id="cpuPercentChart" width="400" height="200"></canvas>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h3>Percent Per CPU</h3>
            <canvas id="percentPerCPUChart" width="400" height="200"></canvas>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // CPU Percent Chart
        var cpuPercentValue = {{ cpu_percent|default:0 }};
        var ctxCpuPercent = document.getElementById('cpuPercentChart').getContext('2d');
        var cpuPercentChart = new Chart(ctxCpuPercent, {
            type: 'doughnut',
            data: {
                labels: ['CPU Usage', 'Available'],
                datasets: [{
                    label: 'CPU Percent',
                    data: [cpuPercentValue, 100 - cpuPercentValue],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)', // Red for CPU usage
                        'rgba(54, 162, 235, 0.5)' // Blue for available
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        display: false
                    }],
                    xAxes: [{
                        display: false
                    }]
                }
            }
        });

        // Percent Per CPU Chart
        var percentPerCPUValues = {{ percent_per_cpu_values|safe }};
        var percentPerCPULabels = {{ percent_per_cpu_labels|safe }};
        var ctxPercentPerCPU = document.getElementById('percentPerCPUChart').getContext('2d');
        var percentPerCPUChart = new Chart(ctxPercentPerCPU, {
            type: 'bar',
            data: {
                labels: percentPerCPULabels,
                datasets: [{
                    label: 'Percent Per CPU',
                    data: percentPerCPUValues,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)', // Blue
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>

{% endif %}
{% endblock %}
