

{% extends 'dashboard_base.html' %}
{% block content %}
{% load static %}

<div class="mt-4">
   
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Terminal
            </li>
						<li class="breadcrumb-item active" aria-current="page">
							{{system_data.hostname}} | {{system_data.operating_system}} 
					</li>

        </ol>
    </nav>

    <div class="card" style:"height:300px">
        <div class="card-body">
					<div class="card-body mt-4" style="background-color:black; overflow-y: auto;">
                {% for command in commands %}
                  <div style="color:#2eca6a">  {{ command.command }} </div>
									<div style="color:#f7c731">  {{ command.response }}</div>
                {% endfor %}
                      
        </div>
				<form method="post" >
					{% csrf_token %}
					<div class="mb-3">
							
							<input type="text" id="commandInput" name="command"  placeholder="Enter Command" style="background-color:black; border:0; width:100%; padding-left:1rem; padding-right:1rem; padding-bottom:0.5rem; padding-top:0.5rem;  color:#2eca6a" required>
					</div>
					<button type="submit" class="btn btn-primary" style="background-color:#4444; color:#bdbdbd">Execute</button>
			</form>
				</div>
    </div>
</div>

{% endblock %}

