{% extends 'dashboard_base.html' %} {%load static%} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% if error_message %}
<p>{{ error_message }}</p>
{% else %}

<div class="">
	<div class="">
		<h1>System Performance</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'dashboard' %}">Dashboard</a>
				</li>
				<li class="breadcrumb-item"><a href="">Hardware Status</a></li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<div class="col-lg">
			<div class="card">
				<div class="card-body">
					mame penga
				</div>
			</div>
		</div>
	
			
	</div>



	{% comment %} ram section {% endcomment %}
	<div class="row">
		<div class="col-lg-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">RAM LOAD</h5>
					<div>
						<canvas id="TD2" width="400" height="150"></canvas>
					</div>
					<div class="text-center" style="margin-top: -60px">{{ percent_memory }}%</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">INFO</h5>
					<a>Total  : </a> <a>{{ total_memory }}</a>
					<a>Available  : </a> <a>{{ available_memory }}</a>
					<span><a>Used  : </a> <a>{{ used_memory }}</a></span>
					
				</div>
			</div>
		</div>

		

		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">READ | WRITE</h5>
					<div id="reportsChart2">
					</div>
				</div>
			</div>
		</div>

		

		
	</div>


	<div class="row">
		<div class="col-lg-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">CPU LOAD</h5>
					<div>
						<canvas id="TD1" width="400" height="150"></canvas>
					</div>
					<div class="text-center" style="margin-top: -60px">{{ cpu_percent }}%</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">CORE PERFORMANCE</h5>
					<div id="ct2">
						{% comment %} <canvas id="perCpuChart" width="400" height="200"></canvas> {% endcomment %}
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">IO RATE </h5>
					<div id="reportsChart1"></div>
				</div>
			</div>
		</div>


	</div>

	<div class="row">
		<div class="col-lg-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">DISK</h5>
					<div>
						<canvas id="TD3" width="400" height="150"></canvas>
					</div>
					<div class="text-center" style="margin-top: -60px">{{ percent_disk }}%</div>
				</div>
			</div>
		</div>

		<div class="col-lg-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">INFO</h5>
		
				</div>
			</div>
		</div>

		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">READ | WRITE</h5>
					<div id="reportsChart3">
						
					</div>
				</div>
			</div>
		</div>

	</div>


{% comment %} half donut cpu {% endcomment %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
		var cpuUsage = {{ cpu_percent }};
		var backgroundColor;
		if (cpuUsage <=100){
			backgroundColor = "#f87979"; // Red for more than 66%
		}
		if (cpuUsage <=66) {
		    backgroundColor = "#ffce56"; // Yellow for 33% to 66%
		}
		if (cpuUsage <= 33) {
		    backgroundColor = "#36a2eb"; // Blue for less than 33%
		}

		 var data = {
			labels: ["Used", "Unused"],

		        datasets: [{
		            data: [cpuUsage, 100 - cpuUsage],
		            backgroundColor: [backgroundColor, "#bdbdbd"],
						borderWidth: 0,
		        }]
		    };

		    var ctx = document.getElementById('TD1').getContext('2d');
		    var myChart = new Chart(ctx, {
		        type: 'doughnut',
		        data: data,
		        options: {
		            cutout: '80%', // Adjust the cutout percentage to control the thickness of the donut
		        rotation: -Math.PI*35, // Start angle for the half donut
		        circumference: Math.PI*69.9, // Sweep angle for the half donut
		            responsive: true,
		            maintainAspectRatio: false,
						plugins:{
							legend: {
		                display: false
		            }
					}
		        }
		    });
		});
	</script>

{% comment %} ram donut {% endcomment %}
	<script>
		// half donut ram
		document.addEventListener('DOMContentLoaded', function () {
		
		var MemoryUsage = {{ percent_memory }};
		var backgroundColor;
		if (MemoryUsage <=100){
			backgroundColor = "#f87979"; // Red for more than 66%
		}
		if (MemoryUsage <=66) {
		    backgroundColor = "#ffce56"; // Yellow for 33% to 66%
		}
		if (MemoryUsage <= 33) {
		    backgroundColor = "#36a2eb"; // Blue for less than 33%
		}

		 var data = {
			labels: ["Used", "Unused"],

		        datasets: [{
		            data: [MemoryUsage, 100 - MemoryUsage],
		            backgroundColor: [backgroundColor, "#bdbdbd"],
						borderWidth: 0,
		        }]
		    };

		    var ctx = document.getElementById('TD2').getContext('2d');
		    var myChart = new Chart(ctx, {
		        type: 'doughnut',
		        data: data,
		        options: {
		            cutout: '80%', // Adjust the cutout percentage to control the thickness of the donut
		        rotation: -Math.PI*35, // Start angle for the half donut
		        circumference: Math.PI*69.9, // Sweep angle for the half donut
		            responsive: true,
		            maintainAspectRatio: false,
						plugins:{
							legend: {
		                display: false
		            }
					}
		        }
		    });
		});
	</script>

{% comment %} disk donut {% endcomment %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
		var diskUsage = {{ percent_disk }};
		var backgroundColor;
		if (diskUsage <=100){
			backgroundColor = "#f87979"; // Red for more than 66%
		}
		if (diskUsage <=66) {
		    backgroundColor = "#ffce56"; // Yellow for 33% to 66%
		}
		if (diskUsage <= 33) {
		    backgroundColor = "#36a2eb"; // Blue for less than 33%
		}

		 var data = {
			labels: ["Used", "Unused"],

		        datasets: [{
		            data: [diskUsage, 100 - diskUsage],
		            backgroundColor: [backgroundColor, "#bdbdbd"],
						borderWidth: 0,
		        }]
		    };

		    var ctx = document.getElementById('TD3').getContext('2d');
		    var myChart = new Chart(ctx, {
		        type: 'doughnut',
		        data: data,
		        options: {
		            cutout: '80%', // Adjust the cutout percentage to control the thickness of the donut
		        rotation: -Math.PI*35, // Start angle for the half donut
		        circumference: Math.PI*69.9, // Sweep angle for the half donut
		            responsive: true,
		            maintainAspectRatio: false,
						plugins:{
							legend: {
		                display: false
		            }
					}
		        }
		    });
		});
	</script>

{% comment %} 12 hour cpu {% endcomment %}
<script>
		document.addEventListener("DOMContentLoaded", () => {
			const cpuUsages = {{ cpu_usages|safe }};

			const timestamps = {{ CPUtimestamps|safe }};
			new ApexCharts(document.querySelector("#reportsChart1"), {
					series: [
							{
									name: "Used Resource",
									data: cpuUsages,
							},
							
					],
					chart: {
							height: 200,
							type: "area",
							toolbar: {
									show: false,
							},
					},
					markers: {
							size: 4,
					},
					colors: ["#f87979", "#36a2eb"],
					fill: {
						type: "gradient",
						gradient: {
								shade: "light", // Change shade to "light" for a lighter gradient
								type: "horizontal", // Change type to "vertical" for a vertical gradient
								shadeIntensity: 0.5, // Adjust shade intensity
								gradientToColors: ["#f87979", "#36a2eb"], // Define colors for the gradient
								inverseColors: false,
								opacityFrom: 0.5, // Adjust opacity
								opacityTo: 0.8,
								stops: [0, 50, 100],
								colorStops: [],
						},
				},
					dataLabels: {
							enabled: false,
					},
					stroke: {
							curve: "smooth",
							width: 2,
					},
					xaxis: {
							type: "datetime",
							categories: timestamps, 
					},
					tooltip: {
							x: {
									format: "dd/MM/yy HH:mm",
							},
					},
			}).render();
	});
	</script>

{% comment %} 12 hour RAM READ WRITE {% endcomment %}
<script>
	document.addEventListener("DOMContentLoaded", () => {
			const used = {{ used_swap|safe }};
			const free = {{ free_swap|safe }};
			const ram_timestamps = {{ full_timestamps|safe }};

			new ApexCharts(document.querySelector("#reportsChart2"), {
					series: [
							{
									name: "Used Swap",
									data: used, 
							},
							{
									name: "Free Swap",
									data: free,
							},
					],
					chart: {
							height: 200,
							type: "area",
							toolbar: {
									show: false,
							},
					},
					markers: {
							size: 4,
					},
					colors: ["#f87979", "#36a2eb"],
					fill: {
							type: "gradient",
							gradient: {
									shade: "light",
									type: "vertical",
									shadeIntensity: 0.5,
									gradientToColors: ["#f87979", "#36a2eb"],
									inverseColors: false,
									opacityFrom: 0.5,
									opacityTo: 0.8,
									stops: [0, 50, 100],
							},
					},
					dataLabels: {
							enabled: false,
					},
					stroke: {
							curve: "smooth",
							width: 2,
					},
					xaxis: {
							type: "datetime",
							categories: ram_timestamps,
					},
					tooltip: {
							x: {
									format: "dd/MM/yy HH:mm",
							},
					},
			}).render();
	});
</script>

{% comment %} 12 hour DISK READ WRITE {% endcomment %}
<script>
	const timestamps = {{ CPUtimestamps|safe }};

		document.addEventListener("DOMContentLoaded", () => {
			new ApexCharts(document.querySelector("#reportsChart3"), {
					series: [
							{
									name: "Read",
									data: [10, 20, 30, 25, 15, 22, 35],
							},
							{
									name: "Write",
									data: [5, 12, 18, 15, 10, 14, 20],
							},
					],
					chart: {
							height: 200,
							type: "area",
							toolbar: {
									show: false,
							},
					},
					markers: {
							size: 4,
					},
					colors: ["#f87979", "#36a2eb"],
					fill: {
						type: "gradient",
						gradient: {
								shade: "light", // Change shade to "light" for a lighter gradient
								type: "horizontal", // Change type to "vertical" for a vertical gradient
								shadeIntensity: 0.5, // Adjust shade intensity
								gradientToColors: ["#f87979", "#36a2eb"], // Define colors for the gradient
								inverseColors: false,
								opacityFrom: 0.5, // Adjust opacity
								opacityTo: 0.8,
								stops: [0, 50, 100],
								colorStops: [],
						},
				},
					dataLabels: {
							enabled: false,
					},
					stroke: {
							curve: "smooth",
							width: 2,
					},
					xaxis: {
							type: "datetime",
							categories: ["2024-05-10", "2024-05-11", "2024-05-12", "2024-05-13", "2024-05-14", "2024-05-15", "2024-05-16"],
					},
					tooltip: {
							x: {
									format: "dd/MM/yy HH:mm",
							},
					},
			}).render();
	});
	</script>

{% comment %} cpu core chart{% endcomment %}
<script>
		// Retrieve the per_cpu_percent data passed from the Django view
		var perCpuPercent = JSON.parse('{{ percent_per_cpu_json|escapejs }}');

		// Prepare data for the chart
		var seriesData = [];
		for (var i = 0; i < perCpuPercent.length; i++) {
			function checking(min, max) {
				return Math.random() * (max - min) + min;
			}
			let r = checking(1.0, 1.2);
				seriesData.push({
						x: 'CPU-' + (i + 1),
						y: perCpuPercent[i],
						goals: [{ name: 'Peak', value: perCpuPercent[i]*r, strokeHeight: 5, strokeColor: '#f87979' }]
				});
		}

		// Configure chart options
		var options = {
				series: [{
						name: 'Actual',
						data: seriesData
				}],
				chart: {
						height: 200,
						type: 'bar'
				},
				plotOptions: {
						bar: {
								columnWidth: '60%'
						}
				},
				colors: ['#ffce56'],
				dataLabels: {
						enabled: false
				},
				legend: {
						show: true,
						showForSingleSeries: true,
						customLegendItems: ['Actual', 'Peak'],
						markers: {
								fillColors: ['#ffce56', '#f87979']
						}
				}
		};

		// Render the chart
		var chart = new ApexCharts(document.querySelector("#ct2"), options);
		chart.render();
</script>



<script>
	var options = {
			series: [
					{
							name: 'Actual',
							data: [
									{ x: 'CPU-1', y: 40, goals: [{ name: 'Peak', value: 46, strokeHeight: 5, strokeColor: '#f87979' }] },
									{ x: 'CPU-2', y: 20, goals: [{ name: 'Peak', value: 20, strokeHeight: 5, strokeColor: '#f87979' }] },
									{ x: 'CPU-3', y: 26, goals: [{ name: 'Peak', value: 55, strokeHeight: 5, strokeColor: '#f87979' }] },
									{ x: 'CPU-4', y: 34, goals: [{ name: 'Peak', value: 44, strokeHeight: 5, strokeColor: '#f87979' }] },										
							]
					}
			],
			chart: {
					height: 200,
					type: 'bar'
			},
			plotOptions: {
					bar: {
							columnWidth: '60%'
					}
			},
			colors: ['#ffce56'],
			dataLabels: {
					enabled: false
			},
			legend: {
					show: true,
					showForSingleSeries: true,
					customLegendItems: ['Actual', 'Peak'],
					markers: {
							fillColors: ['#ffce56', '#f87979']
					}
			}
	};

	var chart = new ApexCharts(document.querySelector("#ct3"), options);
	chart.render();
</script>

<script>
	var options = {
			series: [
					{
							name: 'Actual',
							data: [
									{ x: 'CPU-1', y: 40, goals: [{ name: 'Peak', value: 46, strokeHeight: 5, strokeColor: '#f87979' }] },
									{ x: 'CPU-2', y: 20, goals: [{ name: 'Peak', value: 20, strokeHeight: 5, strokeColor: '#f87979' }] },
									{ x: 'CPU-3', y: 26, goals: [{ name: 'Peak', value: 55, strokeHeight: 5, strokeColor: '#f87979' }] },
									{ x: 'CPU-4', y: 34, goals: [{ name: 'Peak', value: 44, strokeHeight: 5, strokeColor: '#f87979' }] },										
							]
					}
			],
			chart: {
					height: 200,
					type: 'bar'
			},
			plotOptions: {
					bar: {
							columnWidth: '60%'
					}
			},
			colors: ['#ffce56'],
			dataLabels: {
					enabled: false
			},
			legend: {
					show: true,
					showForSingleSeries: true,
					customLegendItems: ['Actual', 'Peak'],
					markers: {
							fillColors: ['#ffce56', '#f87979']
					}
			}
	};

	var chart = new ApexCharts(document.querySelector("#ct4"), options);
	chart.render();
</script>


	<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
</div>
{% endif %} {% endblock %}
