{% extends 'dashboard_base.html' %} {% block content %}
{%load static%}
<style>
	table {
		border-collapse: collapse;
		width: 100%;
		border-radius: 6px; /* Rounded corners */
		overflow: hidden; /* Ensure rounded corners are visible */
	}

	th,
	td {
		background-color: #252525; /* Light background color for header */
		color: #bdbdbd; /* Dark text color for header */
		
		text-align: left;
		padding: 12px;
	}

	tr {
		border: 1px solid #444444; /* Light border color */
	}
	th {
		background-color: #252525; /* Light background color for header */
		color: #bdbdbd; /* Dark text color for header */
	}

	.status {
		font-weight: bold;
	}
</style>

<div class="mt-4">
	<div class="">
		<h1>Application Overview</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'dashboard' %}">Dashboard</a>
				</li>
			</ol>
		</nav>
	</div>

	<div class="card">
		<div class="card-body">
			<table class="mt-4">
				<thead>
					<tr>
						<th>Host</th>
						<th>OS</th>
						<th>Token</th>
						<th>Status</th>
						<th>Installed Apps</th>
					</tr>
				</thead>
				<tbody id="tokenTableBody">
					{% for token in tokens %}
					<tr>
						<td>{{ token.system_data.hostname }}</td>
						<td style="max-width: 100px;">
											
							<span>
									{% if token.system_data.operating_system == "MacOS" %}
											<img src="{% static "assets/img/macOS.png" %}" style="max-width: 24%; height: auto;">
									{% elif token.system_data.operating_system == "Windows" %}
											<img src="{% static "assets/img/Windows.png" %}" style="max-width: 45%; height: auto;">
									{% endif %}
							</span>
						<td>{{ token.token }}</td>
						
						<td
							class="status"
							style="color: {% if token.status == 'online' %}#28a745{% else %}#dc3545{% endif %};">
							{% if token.status == 'online' %}Online{% else %}Offline{% endif %}
						</td>
						<td>
							<a href="{{ token.details_url }}">
								<button class="btn btn-primary " style="background-color:#4444; width:25%">View</button>
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script>
		// Reload data every 5 seconds
		setInterval(function () {
			fetch("/installed_apps_dashboard/") // Replace with the actual URL of your dashboard view
				.then(response => response.text())
				.then(html => {
					const parser = new DOMParser();
					const newDoc = parser.parseFromString(html, "text/html");
					const newTableBody = newDoc.getElementById("tokenTableBody");
					document.getElementById("tokenTableBody").innerHTML =
						newTableBody.innerHTML;
				})
				.catch(error => console.error("Error fetching data:", error));
		}, 5000);
	</script>
</div>
{% endblock %}
