{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container mt-4">
    <div class="">
        <h1>Network Information</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Network Information</a></li>
            </ol>
        </nav>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3>Last Fetched Network Information</h3>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Interface</th>
                        <th>Download</th>
                        <th>Total Upload</th>
                        <th>Upload Speed</th>
                        <th>Download Speed</th>
                    </tr>
                </thead>
                <tbody>
                    {% if network_info %}
                        {% with last_entry=network_info|last %}
                            {% for interface_data in last_entry.interfaces %}
                                <tr>
                                    <td>{{ last_entry.timestamp }}</td>
                                    <td>{{ interface_data.interface }}</td>
                                    <td>{{ interface_data.data.download }}</td>
                                    <td>{{ interface_data.data.total_upload }}</td>
                                    <td>{{ interface_data.data.upload_speed }}</td>
                                    <td>{{ interface_data.data.download_speed }}</td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    {% else %}
                        <tr>
                            <td colspan="6">No data available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3>Network Data over Time (en0)</h3>
            <canvas id="networkChart" width="400" height="200"></canvas>
        </div>
    </div>

    <script>
        function convertToMB(value) {
            var numericValue = parseFloat(value);
            var unit = value.replace(numericValue, '').trim().toUpperCase();

            if (unit === 'GB') {
                return numericValue * 1024;
            }
            return numericValue;
        }

        document.addEventListener('DOMContentLoaded', function () {
            var labels = [];
            var uploadData = [];
            var downloadData = [];

            {% for entry in network_info %}
                {% if entry.interfaces %}
                    {% for interface_data in entry.interfaces %}
                        {% if interface_data.interface == 'en0' %}
                            // Convert GB to MB if necessary
                            labels.push("{{ entry.timestamp }}");
                            uploadData.push(convertToMB("{{ interface_data.data.total_upload }}"));
                            downloadData.push(convertToMB("{{ interface_data.data.download }}"));
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            var ctx = document.getElementById('networkChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Upload (MB)',
                        data: uploadData,
                        borderColor: 'rgba(255, 0, 0, 1)', // Red
                        borderWidth: 1,
                        fill: false
                    }, {
                        label: 'Download (MB)',
                        data: downloadData,
                        borderColor: 'rgba(0, 128, 0, 1)', // Green
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Timestamp'
                            }
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Data (MB)'
                            }
                        }]
                    }
                }
            });
        });
    </script>
</div>

{% endblock %}
