{% extends 'dashboard_base.html' %} {% block content %}
<style>
	table {
		border-collapse: collapse;
		width: 100%;
		border-radius: 6px; /* Rounded corners */
		overflow: hidden; /* Ensure rounded corners are visible */
	}

	th,
	td {
		background-color: #252525; /* Light background color for header */
		color: #bdbdbd; /* Dark text color for header */
		
		text-align: left;
		padding: 12px;
	}

	tr {
		border: 1px solid #444444; /* Light border color */
	}
	th {
		background-color: #252525; /* Light background color for header */
		color: #bdbdbd; /* Dark text color for header */
	}

	.status {
		font-weight: bold;
	}
</style>

<div class="mt-4">
	<div class="">
		<h1>Apps Installed in the last 12 hours</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'dashboard' %}">Dashboard</a>
				</li>
				<li class="breadcrumb-item"><a href="">Installed Apps</a></li>
			</ol>
		</nav>
	</div>

	<div class="card mt-4">
		<div class="card-body">
			<p class="card-title">Username: {{ username }}</p>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Info</th>
						<!-- Add other table headers as needed -->
					</tr>
				</thead>
				<tbody>
					{% for app_data in installed_apps %}
					<tr>
						<td><strong>{{ app_data.name }}</strong></td>
						<td>{{ app_data.info }}</td>
						<!-- Add other table cells as needed -->
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
